  <div class="img-thumbnail img" >
    <%= link_to dish do%><%= image_tag dish.avatar.url(:medium) %><% end %>
    <br>
    <span class="col-md-9"><b><%= link_to dish.name, dish %></b></span>&nbsp;&nbsp;
    <span>Php<%= dish.price %></span>
    <div align="right">
      <% if current_user %>
      <div align="center">
        <%= form_for @order_item, remote: true do |f| %>
          <span><%= f.hidden_field :dish_id, value: dish.id %></span>
          <span><%= f.number_field :quantity, value: 1, min: 1 %></span>
          <span>
            <%= f.submit "Add to cart"%>
          </span>
        <% end %> 
        
      </div>
      <% end %>
    </div>
  </div>