<nav class="navbar navbar-default">
<% if current_user %>
  <div align="right"><%= link_to "Sign-out", destroy_user_session_path, :method => :delete %></div>
  <div align="right"><%= current_user.first_name%></div>
<% else %>  
  <br><div align='right'><%= link_to new_user_session_path do%>Sign-in<% end %></div>
<% end %>
</nav>

<table class="container panel panel-default table form-striped" style="width: 70%">

  <thead>
    <tr class="form-header">
      <th>Name</th>
      <th>Description</th>
      <td colspan="2" align="center">
      <% if current_user %>
        <%= link_to new_dish_path do%><b><span class="fa fa-plus fa-fw"></b></span><% end %>
      <% end %>
      </td>
    </tr>
  </thead>
  <tbody>
    <%= render @dishes %>
  </tbody>
</table>