<%= render 'shared/navbar' %>
<div align="right">
<%= form_tag(dishes_path, :method => "get", id: "search-form") do %>
  <span><%= text_field_tag :search, params[:search], placeholder: "Search" %></span>
  <span ><%= submit_tag "Search" %></span>
<% end %>
</div>


<div class="container">
<% if current_user %>
  <p class="bg-success success" id="notice"><%= notice %></p>
<% else %>
  <div class="panel-group"><p class="panel-heading" id="notice"><%= alert %></p></div>
<% end %>

<%= render @dishes %>
