<br><br><br>
<div class="container panel panel-default" style="width:70%">

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="align: center">

<tr>
  <td><strong>Name:</strong></td>
  <td><%= @dish.name %></td>
  <td rowspan="4"><div class="img-thumbnail"><%= image_tag @dish.avatar.url(:medium) %></div></td>
</tr>

<tr>
  <td><strong>Description:</strong></td>
  <td><%= @dish.description %></td>
</tr>

<tr>
  <td><strong>Price:</strong></td>
  <td>Php <%= @dish.price %></td>
</tr>

<tr>
  <td><strong>Category:</strong></td>
  <td><%= @dish.category %></td>
</tr>

<tr>
	<td>Added by:</td>
  <td><%= @dish.user.first_name %></td>
	<td align="right">
		
		<%= link_to dishes_path do%><span class="fa fa-chevron-circle-left fa-fw"></span><% end %> |
    <%= link_to edit_dish_path(@dish) do%><span class="fa fa-pencil fa-fw"></span><% end %> 
	</td>
</tr>	

</table>
</div>